body {
  background: #ffe6f3;
  margin: 0;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.title {
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  color: #e60073;
}

.track-box {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 20px auto;
  max-width: 350px;
}

.track-box input {
  padding: 12px;
  border-radius: 10px;
  border: 2px solid #e60073;
  font-size: 16px;
}

.track-box button {
  padding: 12px;
  border: none;
  background: #e60073;
  color: #fff;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.track-box button:hover {
  background: #ff3385;
}

/* STATUS BOX */
.statusBox {
  background: white;
  padding: 15px;
  border-radius: 15px;
  margin-top: 20px;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.hidden {
  display: none;
}

.progress {
  width: 100%;
  height: 12px;
  background: #ffd1ec;
  border-radius: 10px;
  margin-top: 15px;
}

.bar {
  height: 100%;
  width: 0%;
  background: #e60073;
  border-radius: 10px;
  transition: 1s;
}
